exceptiongroup==1.2.2
greenlet==3.0.3
iniconfig==2.0.0
packaging==24.1
playwright==1.46.0
pluggy==1.5.0
pyee==11.1.0
pytest==8.3.2
pytest-asyncio==0.24.0
# Editable install with no version control (testing-playwright==0.1)
-e /Users/saritvakrat/PycharmProjects/testing-playwritght
tomli==2.0.1
typing_extensions==4.12.2
